<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title | default: site.title | escape }} - {{ site.description | default: "My awesome blog" | escape }}</title>
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
<link rel="icon" href="{{ '/assets/icons/favicon.ico' | relative_url }}" sizes="any">
<link rel="apple-touch-icon" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
{%- feed_meta -%}
{%- seo -%}
