---
layout: default
title: all_posts # Use the localization key for the title
lang: "{{ site.active_lang | default: site.default_lang }}"
pagination:
  enabled: true
  collection: posts
  per_page: 5
  sort_field: 'date'
  sort_reverse: true
---
<section class="post-list">
  <h2>{{ site.data.locales[site.active_lang].all_posts }}</h2>
  {% for post in paginator.posts %}
    <article class="post-preview">
      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <p class="post-meta">
        <span class="post-date">{{ post.date | date_to_string }}</span>
        {% if post.categories.size > 0 %}
          <span class="post-categories">
            {{ site.data.locales[site.active_lang].categories_label }} {{ post.categories | join: ', ' }} {# Keep "Categories:" as is for now #}
          </span>
        {% endif %}
      </p>
      <div class="post-excerpt">{{ post.excerpt }}</div>
      <p class="read-more-link"><a href="{{ post.url | relative_url }}">{{ site.data.locales[site.active_lang].read_more }}</a></p>
    </article>
  {% else %}
    <p>{{ site.data.locales[site.active_lang].no_posts_found }}</p>
  {% endfor %}

  
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">{{ site.data.locales[site.active_lang].pagination_previous }}</a>
      {% else %}
        <span class="previous disabled">{{ site.data.locales[site.active_lang].pagination_previous }}</span>
      {% endif %}

      <span class="page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">{{ site.data.locales[site.active_lang].pagination_next }}</a>
      {% else %}
        <span class="next disabled">{{ site.data.locales[site.active_lang].pagination_next }}</span>
      {% endif %}
    </div>
  {% endif %}
</section>